@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(40px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes float {
  from {
    transform: translateY(0px);
  }

  to {
    transform: translateY(50px);
  }
}

.typewriter {
  font-size: 42px;
  font-weight: 800;
  white-space: pre-wrap;
  overflow: hidden;
  display: inline-block;
  padding-right: 4px;
}



@keyframes gradientPan {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

@keyframes pulseGlow {
  0% {
    box-shadow: 0 0 15px rgba(0, 200, 83, 0.4);
  }

  50% {
    box-shadow: 0 0 30px rgba(0, 200, 83, 0.8);
  }

  100% {
    box-shadow: 0 0 15px rgba(0, 200, 83, 0.4);
  }
}