.contact {
  padding: 140px 0;
  text-align: center;


  .section-title {
    font-size: 42px;
    margin-bottom: 20px;
    background: linear-gradient(90deg, #000, #00C853, #000);
    background-size: 200% auto;
    animation: gradientPan 3s linear infinite;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .section-subtitle {
    color: $text-muted;
    margin-bottom: 50px;
    font-size: 18px;
  }

  .btn-whatsapp {
    display: inline-block;
    padding: 18px 40px;
    border-radius: 12px;
    font-weight: 600;
    text-decoration: none;
    letter-spacing: 1px;
    background: $primary-gradient;
    color: #000;
    transition: 0.3s ease;
    box-shadow: 0 0 20px rgba(0, 200, 83, 0.3);

    &:hover {
      transform: translateY(-4px);
      box-shadow: 0 0 30px rgb(255, 255, 255);
    }
  }
}