@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes float {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(50px);
  }
}

.typewriter {
  font-size: 42px;
  font-weight: 800;
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
  animation: blink 0.9s infinite;
}

@keyframes blink {
  0% { border-color: #38D400; }
  50% { border-color: transparent; }
  100% { border-color: #38D400; }
}