$bg-dark: #ffffff;
$bg-secondary: #000000;
$card-bg: rgba(255, 255, 255, 0.89);

$primary-1: #000000;
$primary-2: #000000;

$primary-gradient: linear-gradient(90deg, $primary-1, $primary-2);

$text-light: #00C853;
$text-muted: #000000;
$transition: all 0.3s ease;